*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.main-box{
    position: relative;
    background: url('iqra.jpg') center no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
}
.main-box .sidebar-menu{
    position: fixed;
    height: 100vh;
    width: 280px;
    left: -280px;
    background: rgba(255,255,255,0.1);
    box-shadow: 0 0 6px rgba(255,255,255,0.5);
}
.sidebar-menu .logo{
    position:absolute;
    height: 60px;
    width: 100%;
    box-shadow: 0 0 6px rgba(255,255,255,0.5);

}
.sidebar-menu .logo a{
    color: #fff;
    /* background: red; */
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    left: 50px;
    line-height: 60px;
    text-decoration: none;
}
.sidebar-menu .menu{
    position: absolute;
    top: 80px;
    width: 100%;
    /* background: rgb(123, 123, 214); */

}
.sidebar-menu .menu li{
    margin-top: 6px;
    padding: 14px 20px;
}
.sidebar-menu .menu i{
    color: #fff;
    padding-right: 8px;
    font-size: 20px;

}
.sidebar-menu .menu a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.sidebar-menu .menu li:hover{
    border-left: 1px solid #fff;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}
.sidebar-menu .social-media{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    background: #000;
    cursor: pointer;
}
.sidebar-menu .social-media i{
    padding: 0 5px;
    color: #fff;
    font-size: 20px;
    opacity: 0.6;
    transition: all 0.2s linear;

}
.sidebar-menu .social-media i:hover{
    opacity: 1;
}
#check{
    display: none;

}
.main-box .btn-one i{
    color: #fff;
    font-size: 40px;
    font-weight: 900;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    opacity: 1;
    transition: 0.3s all linear;

}
.sidebar-menu .btn-two i{
    position: absolute;
    left: 250px;
    font-size: 25px;
    font-variant: normal;
    color:  #c21e1e;
    line-height: 30px;
    cursor: pointer;
    opacity: 1;
    transition: 0.3s all linear;
    border: 2px solid rgb(56, 56, 56);
    border-radius: 7px;
    width: 23px;
    top: 13px;

}
.btn-one i:hover{
    font-size: 24px;
}
#check:checked ~ .sidebar-menu{
    left: 0px;
}
#check:checked ~ .btn-one i{
    opacity: 0;
}
