

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}
body{
    background-color: #ccc;

}
.container{
    max-width:900px;
    margin:0 auto;
    /* background-color:#585555 */

}
.apply_box{
    max-width:600px;
    padding:20px;
    margin:0 auto;
    margin-top:50px;
    /* In box-shadow, x-axis:4px, y-axis:3px, x-axis:5px and alpha value is always between 0 and 1 */
    /* box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.25); */
    border-radius: 20px; 
    background-color: #ffffff;
}
.web-small{
    font-size: 13px;
}
.form-container{
    /* background-color: #079e32; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5px;   
    margin-top: 30px; 
}
.form_control{
    display: flex;
    flex-direction: column ;
    margin: 7px;
    /* background-color: #baa9a9; */

}
input , select , textarea {
    padding: 6px 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
}
label{
    margin-bottom:5px;
}
textarea{
    height: 50px;
    width: 100%;
}
.textarea_control{
    grid-column: 1 / span 2 ; /* gc is used to access separate separate grid */
}
input:focus{
    outline-color:rgb(233, 80, 80);
}
.button_container{
    display:flex;
    justify-content:end;
    margin-top: 20px;
    /* background-color: rgb(140, 140, 221); */

}
button{
    border: transparent solid 2px;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: rgb(237, 23, 12);
    color: white;
    transition: 0.3s ease-in;
}
button:hover{
    color: black;
    background-color: grey;
    border: 2px solid red;
    transition: 0.3s ease-out;
    cursor: pointer;

}
@media(max-width:460px){
    .textarea_control{
        grid-column: 1 / span 1;
    }
}
